extends layout
block contenu
    .row
        .col-sm-12
            .panel.panel-default.card-view
                center
                    h5 Mes congés en cours :
                    .clearfix
                .panel-wrapper.collapse.in
                    .panel-body
                        .table-wrap
                            .table-responsive
                                table#datable_1.table.table-hover.display.pb-30
                                    thead
                                        tr
                                            th Type de congé
                                            th Date de départ
                                            th Date de retour
                                            th Etat de la demande
                                            th détails

                                    tbody
                                        each encour in en_cour
                                            tr#tr
                                                td #{encour.congestype.nom}
                                                td #{encour.date_depart}
                                                td #{encour.date_retour}
                                                td #{encour.etat_demande}
                                                td
                                                    span.label.label-success
                                                        a(href=encour.url) Détails
append jscripts
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    script(src='/javascripts/admin-js/dataTables-data.js')
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    // Switchery JavaScript
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    script(src='/javascripts/admin-js/dropdown-bootstrap-extended.js')
    // Init JavaScript
    script(src='/javascripts/admin-js/init.js')
    script(src='/javascripts/admin-js/custom.js')


