extends layout
block contenu
    .row
        .col-sm-12
            .panel.panel-default.card-view
                center
                    h4 Les contractuels :
                    .clearfix
                .panel-wrapper.collapse.in
                    .panel-body
                        .table-wrap
                            .table-responsive
                                table#datable_1.table.table-hover.display.pb-30
                                    thead
                                        tr
                                            th Matricule
                                            th Nom
                                            th Prénom
                                            th Service
                                            th détails

                                    tbody
                                        each agent in personnel
                                            tr#tr
                                                td #{agent.matricule}
                                                td #{agent.nom}
                                                td #{agent.prenom}
                                                td #{agent.entite.titre}
                                                td
                                                    span.label.label-success
                                                        a(href=agent.url) Voir plus >>>
append jscripts
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    script(src='/javascripts/admin-js/dataTables-data.js')
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    // Switchery JavaScript
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    script(src='/javascripts/admin-js/dropdown-bootstrap-extended.js')
    // Init JavaScript
    script(src='/javascripts/admin-js/init.js')
    script(src='/javascripts/admin-js/custom.js')


