extends layout
append cscripts
    link(href='/stylesheets/admin-css/fancy-buttons.css', rel='stylesheet', type='text/css')
block contenu
  // Row
  .row
    .col-md-12
      .panel.panel-default.card-view
        .panel-heading
          h3.txt-dark.text-center Fiche Agent -- Matricule N° #{agent.matricule}
          .clearfix
        .panel-wrapper.collapse.in
          .panel-body
            .row
              .form-wrap
                form#impression_fiche_agent.form-horizontal.col-xs-12(role='form')
                  .form-body
                    h3.txt-dark.capitalize-font
                      i.zmdi.zmdi-account.mr-10
                      | Etat Civil
                    hr.light-grey-hr
                    .row.info_ligne
                      .col-md-6.col-sm-6.col-xs-6
                        .form-group
                          label.control-label.col-md-5.col-sm-5.col-xs-5 Prénom:
                          .col-md-7.col-sm-7.col-xs-7
                            p.form-control-static  #{agent.prenom} 
                      // /span
                      .col-md-6.col-sm-6.col-xs-6
                        .form-group
                          label.control-label.col-md-5.col-sm-5.col-xs-5 Nom:
                          .col-md-7.col-sm-7.col-xs-7
                            p.form-control-static  #{agent.nom} 
                      // /span
                    .page-break
                    // /Row
                    .row
                      // /span
                      .col-md-6
                        .form-group
                          label.control-label.col-md-5 Date de naissance:
                          .col-md-7
                            p.form-control-static  #{agent.userdob}
                      // /span
                      .col-md-6
                        .form-group
                          label.control-label.col-md-5 Lieu de naissance:
                          .col-md-7
                            p.form-control-static  #{agent.userlob}
                    // /Row
                    .page-break
                    .row
                      .col-md-6
                        .form-group
                          label.control-label.col-md-5 Nationnalité:
                          .col-md-7
                            p.form-control-static  #{agent.nationnalite}
                      // /span
                      .col-md-6
                        .form-group
                          label.control-label.col-md-5 Adresse:
                          .col-md-7
                            p.form-control-static  #{agent.adresse}
                      // /span
                      // /Row
                      .row
                        .col-md-6
                          .form-group
                            label.control-label.col-md-5 Contact:
                            .col-md-7
                              p.form-control-static  #{agent.contact}
                        // /span
                        .col-md-6
                          .form-group
                            label.control-label.col-md-5 E-mail:
                            .col-md-7
                              p.form-control-static  #{agent.email}
                        // /span
                        // /Row
                        .row
                          .col-md-6
                            .form-group
                              label.control-label.col-md-5 Situation matrimoniale:
                              .col-md-7
                                p.form-control-static  #{agent.smatrimoniale.nom}
                          // /span
                          .col-md-6
                            .form-group
                              label.control-label.col-md-5 Sexe:
                              .col-md-7
                                p.form-control-static  #{agent.genre}
                          // /span
                          // /Row
                          .seprator-block
                          h3.txt-dark.capitalize-font
                            i.zmdi.zmdi-account-box.mr-10
                            | Situation Professionnelle
                          hr.light-grey-hr
                          .row
                            .col-md-6
                              .form-group
                                label.control-label.col-md-5 Profession:
                                .col-md-7
                                  p.form-control-static  #{agent.profession}
                            // /span
                            .col-md-6
                              .form-group
                                label.control-label.col-md-5 Structure:
                                .col-md-7
                                  p.form-control-static  #{agent.entite.titre}
                            // /span
                            // /Row
                            .row
                              // /span
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Date d'engagement:
                                  .col-md-7
                                    p.form-control-static  #{agent.date_engagement} 
                              // /span
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Date de départ à la retraite:
                                  .col-md-7
                                    p.form-control-static  12/02/2025 
                            // /Row
                            .row
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Compétences:
                                  .col-md-7
                                    p.form-control-static  Gestion des projets,management,communication 
                              // /span
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Poste occupé:
                                  .col-md-7
                                    p.form-control-static  #{agent.poste}
                              // /span
                              // /Row
                              .row
                                .col-md-6
                                  .form-group
                                    label.control-label.col-md-5 Catégorie:
                                    .col-md-7
                                      p.form-control-static  #{agent.cege.code_cege}
                                // /span
                                .col-md-6
                                  .form-group
                                    label.control-label.col-md-5 Lieu d'affectation:
                                    .col-md-7
                                      p.form-control-static  #{agent.lieu_affectation} 
                                // /span
                                // /Row
                                .row
                                  .col-md-6
                                    .form-group
                                      label.control-label.col-md-5 Direction:
                                      .col-md-7
                                        p.form-control-static  #{agent.entite.titre} 
                                  // /span
                                  //
                                    <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="control-label col-md-5">Sexe:</label>
                                    <div class="col-md-7">
                                    <p class="form-control-static"> Free </p>
                                    </div>
                                    </div>
                                    </div>
                                  // /span
                .form-actions.mt-10
                  .row
                    .col-md-12.text-center
                      button.btn.btn-primary.btn-icon.left-icon.mr-10(type='submit', onclick='printFicheAgent()')
                        i.zmdi.zmdi-print
                        span Imprimer
                      button.btn.btn-info.btn-icon.left-icon.mr-10(type='submit')
                        i.zmdi.zmdi-edit
                        span Modifier
                      button.btn.btn-default(type='button') Retour vers la lIste des Agents
                  // <div class="col-md-6"> </div>
  // /Row

    .row
        .col-sm-12
            center
                h4 Fiche de l'agent #{agent.matricule} :
            .clearfix
            br
            br
            .panel.panel-default.card-view
                .panel-wrapper.collapse.in
                    .panel-body
                      .form-wrap
                        form#impression_fiche_agent.form-horizontal.col-xs-12(role='form')
                          .form-body
                            h3.txt-dark.capitalize-font
                              i.zmdi.zmdi-account.mr-10
                              | Etat Civil
                            hr.light-grey-hr
                            .row.info_ligne
                              .col-md-6.col-sm-6.col-xs-6
                                .form-group
                                  label.control-label.col-md-5.col-sm-5.col-xs-5 Prénom:
                                  .col-md-7.col-sm-7.col-xs-7
                                    p.form-control-static  #{agent.prenom} 
                              // /span
                              .col-md-6.col-sm-6.col-xs-6
                                .form-group
                                  label.control-label.col-md-5.col-sm-5.col-xs-5 Nom:
                                  .col-md-7.col-sm-7.col-xs-7
                                    p.form-control-static  #{agent.nom} 
                              // /span
                            .page-break
                            // /Row
                            .row
                              // /span
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Date de naissance:
                                  .col-md-7
                                    p.form-control-static  #{agent.userdob}
                              // /span
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Lieu de naissance:
                                  .col-md-7
                                    p.form-control-static  #{agent.userlob}
                            // /Row
                            .page-break
                            .row
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Nationnalité:
                                  .col-md-7
                                    p.form-control-static  #{agent.nationnalite}
                              // /span
                              .col-md-6
                                .form-group
                                  label.control-label.col-md-5 Adresse:
                                  .col-md-7
                                    p.form-control-static  #{agent.adresse}
                              // /span
                              // /Row
                              .row
                                .col-md-6
                                  .form-group
                                    label.control-label.col-md-5 Contact:
                                    .col-md-7
                                      p.form-control-static  #{agent.contact}
                                // /span
                                .col-md-6
                                  .form-group
                                    label.control-label.col-md-5 E-mail:
                                    .col-md-7
                                      p.form-control-static  #{agent.email}
                                // /span
                                // /Row
                                .row
                                  .col-md-6
                                    .form-group
                                      label.control-label.col-md-5 Situation matrimoniale:
                                      .col-md-7
                                        p.form-control-static  #{agent.smatrimoniale.nom}
                                  // /span
                                  .col-md-6
                                    .form-group
                                      label.control-label.col-md-5 Sexe:
                                      .col-md-7
                                        p.form-control-static  #{agent.genre}
                                  // /span
                                  // /Row
                                  .seprator-block
                                  h3.txt-dark.capitalize-font
                                    i.zmdi.zmdi-account-box.mr-10
                                    | Situation Professionnelle
                                  hr.light-grey-hr
                                  .row
                                    .col-md-6
                                      .form-group
                                        label.control-label.col-md-5 Profession:
                                        .col-md-7
                                          p.form-control-static  #{agent.profession}
                                    // /span
                                    .col-md-6
                                      .form-group
                                        label.control-label.col-md-5 Structure:
                                        .col-md-7
                                          p.form-control-static  #{agent.entite.titre}
                                    // /span
                                    // /Row
                                    .row
                                      // /span
                                      .col-md-6
                                        .form-group
                                          label.control-label.col-md-5 Date d'engagement:
                                          .col-md-7
                                            p.form-control-static  #{agent.date_engagement} 
                                      // /span
                                      .col-md-6
                                        .form-group
                                          label.control-label.col-md-5 Date de départ à la retraite:
                                          .col-md-7
                                            p.form-control-static  12/02/2025 
                                    // /Row
                                    .row
                                      .col-md-6
                                        .form-group
                                          label.control-label.col-md-5 Compétences:
                                          .col-md-7
                                            p.form-control-static  Gestion des projets,management,communication 
                                      // /span
                                      .col-md-6
                                        .form-group
                                          label.control-label.col-md-5 Poste occupé:
                                          .col-md-7
                                            p.form-control-static  #{agent.poste}
                                      // /span
                                      // /Row
                                      .row
                                        .col-md-6
                                          .form-group
                                            label.control-label.col-md-5 Catégorie:
                                            .col-md-7
                                              p.form-control-static  #{agent.cege.code_cege}
                                        // /span
                                        .col-md-6
                                          .form-group
                                            label.control-label.col-md-5 Lieu d'affectation:
                                            .col-md-7
                                              p.form-control-static  #{agent.lieu_affectation} 
                                        // /span
                                        // /Row
                                        .row
                                          .col-md-6
                                            .form-group
                                              label.control-label.col-md-5 Direction:
                                              .col-md-7
                                                p.form-control-static  #{agent.entite.titre} 
                                          // /span
                                          //
                                            <div class="col-md-6">
                                            <div class="form-group">
                                            <label class="control-label col-md-5">Sexe:</label>
                                            <div class="col-md-7">
                                            <p class="form-control-static"> Free </p>
                                            </div>
                                            </div>
                                            </div>
                                          // /span
                        .form-actions.mt-10
                          .row
                            .col-md-12.text-center
                              button.btn.btn-primary.btn-icon.left-icon.mr-10(type='submit', onclick='printFicheAgent()')
                                i.zmdi.zmdi-print
                                span Imprimer
                              button.btn.btn-info.btn-icon.left-icon.mr-10(type='submit')
                                i.zmdi.zmdi-edit
                                span Modifier
                              a(href='/users/mon-espace/personnel').btn.btn-default(type='button') Retour vers la lIste des Agents
                          // <div class="col-md-6"> </div>


append jscripts
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    script(src='/javascripts/admin-js/dataTables-data.js')
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    script(src='/javascripts/admin-js/dropdown-bootstrap-extended.js')
    script(src='/javascripts/admin-js/init.js')
    script(src='/javascripts/admin-js/custom.js')
    script(src='/javascripts/print.min.js')
    script(type='text/javascript').
      function printFicheAgent() {
      const style = ''
      printJS({
      printable: 'impression_fiche_agent',
      header: 'Fiche Agent -- Matricule N°',
      type: 'html',
      style: style,
      //scanStyles: false
      });
      }
